<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyboardNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4CC42651BE8F4A8005D4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CC427E1BE8F4A8005D4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CC42891BE8F4A8005D4AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
